
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="author" content="415199201@qq.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="{__ADMIN_PATH__}/layui/css/layui.css?v={$js_debug}" media="all">
<link rel="stylesheet" href="{__ADMIN_PATH__}/style/admin.css?v={$js_debug}" media="all">
</head>
<body>
<div class="layui-card">
    <div class="layui-card-body">
      <form class="layui-form layui-form-pane" action="" onSubmit="return false;" lay-filter="component-form-element">
          <input type="hidden" name="id" id="id" value="{$result.id}">
      <div class="layui-row layui-col-space10 layui-form-item">

          <div class="layui-col-lg12">
            <label class="layui-form-label">名称：</label>
            <div class="layui-input-block">
              <input type="text" name="name" lay-verify="required" placeholder="请输入菜单名称" autocomplete="off" class="layui-input" value="{$result.name}" >
            </div>
          </div>
          <div class="layui-col-lg12">
            <label class="layui-form-label">介绍：</label>
            <div class="layui-input-block">
              <input type="text" name="remark" lay-verify="required" placeholder="请输入介绍" autocomplete="off" class="layui-input" value="{$result.remark}">
            </div>
          </div>

          <div class="layui-col-lg12">
            <label class="layui-form-label">状态：</label>
            <div class="layui-input-block">
              <select name="status" lay-verify="required">
                  <option value="1"  {php}if($result['status']==1){{/php}selected{php}}{/php}>启用</option>
                  <option value="0" {php}if($result['status']==0){{/php}selected{php}}{/php}>禁用</option>
              </select>
            </div>
          </div>
          
          <div class="layui-col-lg12">
            <label class="layui-form-label">排序：</label>
            <div class="layui-input-block">
              <input type="text" name="sort" lay-verify="required|number" placeholder="请输入排序" autocomplete="off" class="layui-input" value="{$result.sort}">
            </div>
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="component-form-element">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
          </div>
        </div>
        
      </form>
    </div>
</div>
<script src="{__ADMIN_PATH__}/layui/layui.js?v={$js_debug}"></script> 
<script src="{__ADMIN_PATH__}/plus.js?v={$js_debug}"></script>  
<script>
$run(function(){
	frameSubmit("{:Url('Role/edit')}",true);
});
</script>
</body>
</html>
