<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>开单</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="__STATIC__/layuiadmin/layui/css/layui.css" media="all">
</head>
<body>
<div>
<div class="layui-card-body" >
    <form class="layui-form" lay-filter="component-form-element" id="commentForm">
      <input type="hidden"  name="chain_id" value="{$chain_id}">
      <input type="hidden"  name="shop_id" value="{$shop_id}">
      <div class="layui-row layui-col-space10 layui-form-item">
          

          <div class="layui-form-item">
              <label class="layui-form-label" style="width:100px;">空闲锁牌：</label>
              <div class="layui-input-block">
                <input type="hidden" name="appointment_id" id="appointment_id" value="{$id}">
                <div class="layui-inline" style="width:85%;">
                  <select id="lockcard_id" name="lockcard_id" class="layui-input">
                    <volist name="lockcard_list" id="lockcard">
                      <option value="{$lockcard.id}" >{$lockcard.card_number}</option>
                    </volist>
                  </select>
                </div>
              </div>
          </div>
           <div class="layui-form-item">
              <label class="layui-form-label" style="width:100px;">请选择房间：</label>
              <div class="layui-input-block">
                <div class="layui-inline" style="width:30%;">
                  <select name="room_id" lay-filter="roomlist" lay-verify="required">
                    <option value="">请选择房间</option>
                    <volist name="room_list" id="vo">
                    <option value="{$vo.id}">{$vo.room_name}</option>
                    </volist>
                  </select>
                </div>
                <div class="layui-inline">
                  <select name="bed_id" id="bed_id" lay-verify="required">
                    
                  </select>
                </div>
              </div>
          </div>
          <div class="layui-form-item">
              <label class="layui-form-label" style="width:100px;">排班：</label>
              <div class="layui-input-block">
                <div class="layui-inline" style="width:85%;">
                  <select id="types" name="types" class="layui-input">    
                    <option value="1" <if condition="$types eq 1">selected</if>>轮钟</option>
                    <option value="2" <if condition="$types eq 2">selected</if>>点钟</option>   
                  </select>
                </div>
              </div>
          </div>
          <div class="layui-form-item">
              <label class="layui-form-label" style="width:100px;">健康师：</label>
              <div class="layui-input-block">
                <div class="layui-inline" style="width:85%;">
                  <select id="masseur_id" name="masseur_id" class="layui-input">
                    <volist name="masseur_list" id="masseur">
                      <option value="{$masseur.masseur_id}" <if condition="$masseur['masseur_id'] eq $info['masseur_id']">selected</if>>{$masseur.masseur_sn}-{$masseur.masseur_name}</option>
                    </volist>
                  </select>
                </div>
              </div>
          </div>
          <div class="layui-form-item">
              <label class="layui-form-label" style="width:100px;">项目：</label>
              <div class="layui-input-block">
                <div class="layui-inline" style="width:85%;">
                  <select id="project_id" name="project_id" class="layui-input">
                    <volist name="project_list" id="project">
                      <option value="{$project.id}" <if condition="$project['id'] eq $info['project_id']">selected</if>>{$project.item_name}</option>
                    </volist>
                  </select>
                </div>
              </div>
          </div>
         

        <div class="layui-form-item layui-hide">
            <input type="button" lay-submit lay-filter="LAY-user-front-submit" id="LAY-user-front-submit" value="确认">
        </div>
    </form>
  </div>
</div>

 <script src="__JS__/jquery/jQuery-2.2.0.min.js"></script>
 <script src="__JS__/framework-ui.js"></script>
  <script src="__STATIC__/layuiadmin/layui/layui.js"></script> 
<script>
    layui.use( ['form','laydate'], function(){
       form = layui.form;
        var $ = layui.$;
        var laydate = layui.laydate;
        form.render(null, 'component-form-element');
        laydate.render({
            elem: '#reservation_date'
        });
         laydate.render({
          elem: '#reservation_time'
          ,type: 'time'
          ,format: 'H点m分'
        });
        
        form.on('select(roomlist)', function(data){
          $.submitgetForm({
            url: "{:U('Order/bed_list')}",
            param: {'room_id':data.value},
            success: function (res) {
              var optionstring = "";
              $.each(res.data, function(i,item){
               optionstring += "<option value=\"" + item.id + "\" >" + item.bed_no + "</option>";
              });
              $("#bed_id").html(optionstring);
              form.render('select'); //这个很重要
            }
          });
          return false;
        });


        form.on('submit(LAY-user-front-submit)', function(data){
          $.submitForm({
          url: "{:U('Appointment/order')}",
          param: $("#commentForm").serialize(),
          success: function () {
            // $.currentWindow().Refresh();
            var index = parent.layer.getFrameIndex(window.name);
            window.parent.location.reload();
            parent.layer.close(index);
          }
        }) 
  
            return false;
        });

       
         $('.data-table-reload-btn .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

 
    });
    //选择会员
function select_member(){
  $.modalOpen({
      id: "Form4",
      title: "选择会员",
      url: "{:U('Appointment/select_member')}",
      width: "1100px",
      height: "770px",
      callBack: function (index, layero) {
         var iframeWindow = top.window['Form4']
        ,submitID = 'LAY-user-front-submit'
        ,submit = layero.find('iframe').contents().find('#'+ submitID);
        //监听提交
          iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
            var field = data.field; //获取提交的字段
            $.submitForm({
              url: "{:U('Appointment/post_select_member')}",
              param: field,
              success: function (data) {
                $('#name').val(data.data.member_name);
                $('#phone').val(data.data.member_tel);
                 top.layer.close(index); //关闭弹层
              }
            })
           
          });
        submit.trigger('click');
        //top.layer.close(index);
      }
    });
}

</script>

</body>
</html>

