<!doctype html><html><head><meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<title>下载地址</title>
<link rel="stylesheet" type="text/css" href="__CSS__/download.css" />
</head>

<body>

<div class="btn">
	<dd><a href="/Uploads/Downloads/haiyaya.apk"><img src="__IMG__/btn01.png" /></a></dd>
	<dd><a href="/Uploads/Downloads/haiyaya.ipa"><img src="__IMG__/btn02.png" /></a></dd>
</div>

</body>
</html>
