<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>刘国强</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="__STATIC__/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__STATIC__/layuiadmin/style/admin.css" media="all">
</head>
<body>
  
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">API菜单管理</div>
          <div class="layui-card-body">
          <div class="test-table-reload-btn" style="margin-bottom: 10px;">
              <button class="layui-btn layuiadmin-btn-role" onClick="btn_add()">添加</button>
            </div>
            <table class="layui-table">
              <colgroup>
                <col>
                <col width="150">
                <col width="200">
                <col width="150">
                <col width="70">
                <col width="200">
                <col>
              </colgroup>
              <thead>
                <tr>
                 <th align="left">菜单名称</th>
                <th align="left">ID</th>
                <th align="left">应用</th>
                <th align="left">状态</th>
                <th align="left">排序</th>
                <th style="text-align:center;">操作</th>
                </tr> 
              </thead>
              <tbody>
              
                {$categorys}
     
              </tbody>
            </table>
          </div>
        </div>
      </div>
</div>
</div>
  
 <script src="__JS__/jquery/jQuery-2.2.0.min.js"></script>
 <script src="__JS__/framework-ui.js"></script>
  <script src="__STATIC__/layuiadmin/layui/layui.js"></script> 
<script language="javascript">
function btn_add() {
	  $.modalOpen({
            id: "Form",
            title: "添加菜单",
            url: "{:U('Apimenu/addApimenu')}",
            width: "450px",
            height: "590px",
            callBack: function (index, layero) {
				 var iframeWindow = window['layui-layer'+ index]
				,submitID = 'LAY-user-front-submit'
				,submit = layero.find('iframe').contents().find('#'+ submitID);
				submit.click();
            }
        });
}
function btn_edit(cid) {
		var linkurl="{:U('Apimenu/editApimenu',array('id'=>'nidval'))}";
		linkurl=linkurl.replace('nidval', cid),
        $.modalOpen({
            id: "Form",
            title: "修改菜单",
            url: linkurl,
            width: "450px",
            height: "590px",
            callBack: function (index, layero) {
				 var iframeWindow = window['layui-layer'+ index]
				,submitID = 'LAY-user-front-submit'
				,submit = layero.find('iframe').contents().find('#'+ submitID);
				submit.click();
            }
        });
    }

function btn_delete(id){
	$.deleteForm({
            url: "{:U('Apimenu/delApimenu')}",
            param: { id: id},
            success: function () {
                $.currentWindow().Refresh();
            }
      })
}
function Refresh()
{
	self.location.reload();
}
</script>
</body>
</html>