<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>云养生平台</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="__STATIC__/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__STATIC__/layuiadmin/style/admin.css" media="all">
</head>
<body class="layui-layout-body">



<div class="layui-fluid data-table-reload-btn" >
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <!--<div class="layui-form layui-card-header layuiadmin-card-header-auto " style="padding:10px 0px;">-->
          <!--<div class="layui-form-item" >-->
            <!--<div class="layui-inline">-->
              <!--<label class="layui-form-label">包间名：</label>-->
              <!--<div class="layui-input-block">-->
                <!--<input class="layui-input" name="keywords" id="data-table-search" autocomplete="off">-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-inline">-->
              <!--<label class="layui-form-label">分类</label>-->
              <!--<div class="layui-input-block">-->
                <!--<select name="category_id"  id="category_id" lay-verify="required" lay-search>-->
                  <!--<option value="0">请选择所属分类</option>-->
                  <!--<volist name="category"  id="vo">-->
                    <!--<option value={$vo.id}>{$vo.category_name}</option>-->
                  <!--</volist>-->
                <!--</select>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-inline">-->
              <!--<button class="layui-btn" data-type="reload">搜 索</button>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <input type="hidden" id="room_id" value="{$room_id}">
        <div class="layui-card-body">
          <div style="padding-bottom: 10px;">
            <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加</button>
          </div>
              <table class="layui-hide" id="data-table-operate"lay-filter="data-table-operate"></table>
              <script type="text/html" id="data-table-operate-barDemo">
                <a class="layui-btn layui-btn-sm"  lay-event="edit">编辑楼层</a>
                <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>
              </script>

          <script type="text/html" id="test-table-switchTpl">
            <!-- 这里的 checked 的状态只是演示 -->
            {{#  if(d.state == '启用'){ }}
            <input type="checkbox" name="state"  value="{{ d.id }}" lay-skin="switch" lay-text="启用|锁定" lay-filter="test-table-stateDemo"  checked>
            {{#  } else { }}
            <input type="checkbox" name="state"  value="{{ d.id }}" lay-skin="switch" lay-text="启用|锁定" lay-filter="test-table-stateDemo" >
            {{#  } }}
          </script>
        </div>
      </div>
    </div>
  </div>



</div>
  <script src="__JS__/jquery/jQuery-2.2.0.min.js"></script>
  <script src="__JS__/framework-ui.js"></script>
<script src="__STATIC__/layuiadmin/layui/layui.js"></script>
<script>
    layui.use(['table','form'], function(){
        var table = layui.table;
        var $ = layui.$;
        var  form = layui.form;
        var room_id=$('#room_id').val();
        var linkurl="{:U('Floor/json',array('room_id'=>'idval'))}";
        linkurl=linkurl.replace('idval', room_id),
        table.render({
            elem: '#data-table-operate'
            ,url:linkurl
            ,layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
            ,cols: [[
                {type:'checkbox'}
                ,{field:'id', width:80, title: 'ID', sort: true}
                ,{field:'floor_name', MinWidth:100, title: '楼层名称', sort: true}
                ,{field:'floor', width:120, title: '楼层'}
                ,{field:'sort', width:60, title: '排序'}
                ,{field:'state', title: '状态', minWidth: 100, templet: '#test-table-switchTpl', unresize: true}
                ,{width:178, align:'center',title: '操作', field: 'right', toolbar:  '#data-table-operate-barDemo'}
            ]]

        });


        //查看详情
        //监听表格复选框选择
        table.on('checkbox(data-table-operate)', function(obj){
            console.log(obj)
        });
        //监听工具条
        table.on('tool(data-table-operate)', function(obj){

            var data = obj.data;
            if(obj.event === 'detail'){
                layer.msg('ID：'+ data.id + ' 的查看操作');
            } else if(obj.event === 'del'){
                layer.confirm('真的要删除楼层吗？', function(index) {
                    $.ajax({
                        type: "post",
                        url: "{:U('Floor/del')}",
                        data: {id:data.id},
                        success: function (res)
                        {
                            if (res == "success")
                            {
                                layer.msg('删除成功！');//成功提示
                                layer.close(index);   //关闭弹窗
                                Refresh();
                            }
                            if (res.state == "fail")
                            {
                                layer.msg(res.info);
                            }
                        }
                    });

                })


            } else if(obj.event === 'edit'){
                var shopid=data.id;
                var linkurl="{:U('Floor/edit',array('id'=>'idval'))}";
                linkurl=linkurl.replace('idval', shopid);
                layer.open({
                    type: 2,
                    title: '楼层详情',
                    maxmin: false,
                    shadeClose: true, //点击遮罩关闭层
                    area : ['500px' , '280px'],
                    btn: ['确认', '关闭'],
                    content:linkurl,
                    btnclass: ['btn btn-primary', 'btn btn-danger'],
                    yes: function(index, layero){
                        var iframeWindow = window['layui-layer-iframe'+ index]
                            ,submitID = 'LAY-user-front-submit'
                            ,submit = layero.find('iframe').contents().find('#'+ submitID);

                        submit.click();
                    }
                });
               // layer.alert('编辑行：<br>'+ JSON.stringify(data))
            // layer.alert('编辑行：<br>'+ JSON.stringify(data))
        }
        });
      //监听状态操作
        form.on('switch(test-table-stateDemo)', function(obj){
            var id=this.value;
            if(obj.elem.checked==true)
            {
                linkurl="{:U('Floor/open')}";
            }
            else
            {
                linkurl="{:U('Floor/close')}";
            }
            $.ajax({
                type: "post",
                url: linkurl,
                data: {id:id},
                success: function (res)
                {
                    if (res == "success")
                    {
                        layer.msg('操作成功！');//成功提示
                        Refresh();
                    }
                    if (res == "error")
                    {
                        layer.msg('操作异常!');
                    }
                }
            });
        });

        //监听锁定操作
        form.on('checkbox(test-table-lockDemo)', function(obj){
            var json = JSON.parse(decodeURIComponent($(this).data('json')));
            layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);

            json = table.clearCacheKey(json);
            console.log(json); //当前行数据
        });
        var element = layui.element;
        var $ = layui.$,active = {
            reload: function(){
                var keywords= $('#data-table-search');
                //执行重载
                table.reload('data-table-operate', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        keywords: keywords.val()

                    }
                });
            }
            ,add: function() {
                var linkurl="{:U('Floor/add')}";
                layer.open({
                    type: 2,
                    title: '添加楼层',
                    maxmin: false,
                    shadeClose: true, //点击遮罩关闭层
                    area : ['500px' , '280px'],
                    btn: ['确认', '关闭'],
                    content: linkurl,
                    btnclass: ['btn btn-primary', 'btn btn-danger'],
                    yes: function(index, layero){
                        var iframeWindow = window['layui-layer-iframe'+ index]
                            ,submitID = 'LAY-user-front-submit'
                            ,submit = layero.find('iframe').contents().find('#'+ submitID);

                        submit.click();
                    }
                });
            }
            ,tabChange: function (id) {
                    //切换到指定Tab项
                    element.tabChange('demo', id); //切换到：用户管理

           }
            ,getCheckData: function(){ //获取选中数据
                var checkStatus = table.checkStatus('data-table-operate')
                    ,data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
            ,getCheckLength: function(){ //获取选中数目
                var checkStatus = table.checkStatus('data-table-operate')
                    ,data = checkStatus.data;
                layer.msg('选中了：'+ data.length + ' 个');
            }
            ,isAll: function(){ //验证是否全选
                var checkStatus = table.checkStatus('data-table-operate');
                layer.msg(checkStatus.isAll ? '全选': '未全选')
            }
        };

        $('.data-table-reload-btn .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
    function Refresh()
    {
        layui.table.reload('data-table-operate');
    }
</script>
</body>
</html>