<html><head>
    <meta name="viewport" content="width=device-width">
    <title>Form</title>
    <link rel="stylesheet" href="__JS__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/font-awesome.min.css">
    <link rel="stylesheet" href="__CSS__/index.css">
    <link rel="stylesheet" href="__CSS__/style.min.css">
    <link rel="stylesheet" href="__CSS__/framework-ui.css">
  
<script src="__JS__/jquery/jQuery-2.2.0.min.js"></script>
<script src="__JS__/bootstrap/js/bootstrap.min.js"></script>
<script src="__JS__/validate/jquery.validate.min.js"></script>
<script src="__JS__/layer/layer.js"></script>
<script src="__JS__/framework-ui.js"></script>
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<script>
// function submitForm() {
//   if (!$('#commentForm').formValid()) {
//        return false;
//   }
//   $.submitForm({
//             url: "{:U('Telephone/lookTelephone')}",
//             param: $("#commentForm").formSerialize(),
//             success: function () {
//                 $.currentWindow().Refresh();
//             }
//   })

// }
</script>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        
        <div class="row">
            <div class="col-sm-12">       
   <form class="form-horizontal" id="commentForm" action="" method="post">
      <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tbody>
            <tr>
                <th class="formTitle">序号：</th>
                <td class="formValue">
                    <input id="id" name="id" type="text" class="form-control required" disabled value="{$reserve.id}" >
                </td>
            </tr>

            <tr>
                <th class="formTitle">订单号：</th>
                <td class="formValue">
                    <input id="ordernumber" name="ordernumber" type="text" class="form-control required" disabled value="{$reserve.ordernumber}">
                </td>
            </tr>
           
            <tr>
                <th class="formTitle">医生：</th>
                <td class="formValue">
                  
                    <input id="member_id" name="member_id" type="text" class="form-control required" disabled value="{$reserve.doctorname}">
                </td>
            </tr>
            <tr>
                <th class="formTitle">医生电话：</th>
                <td class="formValue">
                    <input id="member_phone" name="member_phone" type="text" class="form-control required" disabled value="{$reserve.doctorusername}">
                </td>
            </tr>
            <tr>
                <th class="formTitle">患者：</th>
                <td class="formValue">
                  
                    <input id="patientmember_id" name="patientmember_id" type="text" class="form-control required" disabled value="{$reserve.patientname}">
                </td>
            </tr>
            <tr>
                <th class="formTitle">患者电话：</th>
                <td class="formValue">
                    <input id="patientmember_phone" name="patientmember_phone" type="text" class="form-control required" disabled value="{$reserve.patientusername}">
                </td>
            </tr>
            <tr>
                <th class="formTitle">咨询时间：</th>
                <td class="formValue">
                    <input id="create_time" name="create_time" type="text" class="form-control required" disabled value="{$reserve.create_time|date='Y-m-d',###}">
                </td>
            </tr>
            <!-- <tr>
                <th class="formTitle">就诊类型：</th>
                <td class="formValue">
                    <switch name="reserve.stage">
                        <case value="0">初诊</case>
                        <case value="1">复诊</case>
                        <default />
                    </switch>
                    
                </td>
            </tr> -->
            <tr>
                <th class="formTitle">就诊地点：</th>
                <td class="formValue">
                    <input id="address" name="address" type="text" class="form-control required" disabled value="{$reserve.address}">
                </td>
            </tr>
            <tr>
                <th class="formTitle">咨询费用：</th>
                <td class="formValue">
                    <input id="money" name="money" type="text" class="form-control required" disabled value="{$reserve.money}">
                </td>
            </tr>
            <tr>
                <th class="formTitle">状态：</th>
                <td class="formValue">
                   <switch name="reserve.status">
                        <case value="0">未支付</case>
                        <case value="1">待就诊</case>
                        <case value="2">医生开始就诊</case>
                        <case value="4">医生退款</case>
                        <case value="5">用户退款</case>
                        <case value="6">已结束</case>
                        <default />
                   </switch>
                </td>
            </tr>
           
        </tbody></table>
    </div>
 
					</form>

   
            </div>

            
        </div>

    </div>
   


</body>
</html>