<html><head>
    <meta name="viewport" content="width=device-width">
    <title>Form</title>
    <link rel="stylesheet" href="__JS__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/font-awesome.min.css">
    <link rel="stylesheet" href="__CSS__/index.css">
    <link rel="stylesheet" href="__CSS__/style.min.css">
    <link rel="stylesheet" href="__CSS__/framework-ui.css">
  
<script src="__JS__/jquery/jQuery-2.2.0.min.js"></script>
<script src="__JS__/bootstrap/js/bootstrap.min.js"></script>
<script src="__JS__/validate/jquery.validate.min.js"></script>
<script src="__JS__/layer/layer.js"></script>
<script src="__JS__/framework-ui.js"></script>
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<script>
function submitForm() {
  if (!$('#commentForm').formValid()) {
       return false;
  }
  $.submitForm({
            url: "{:U('HotSearch/addHotSearch')}",
            param: $("#commentForm").serialize(),
            success: function () {
                $.currentWindow().Refresh();
            }
  })

}
</script>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        
        <div class="row">
            <div class="col-sm-12">       
   <form class="form-horizontal" id="commentForm" action="{:U('HotSearch/addHotSearch')}" method="post">
         
      <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tbody>
           
            <tr>
                <th class="formTitle">名称：</th>
                <td class="formValue">
                    <input id="title" name="title" type="text" class="form-control required" placeholder="请输入名称">
                </td>
            </tr>
             
            
            
            
            
            <tr>
                <th class="formTitle">排序：</th>
                <td class="formValue">
                    <input id="sort" name="sort" type="text" class="form-control required number" placeholder="请输入排序">
                    <input id="user_id" name="user_id" type="hidden" value="0">
                    <input id="is_hot" name="is_hot" type="hidden" value="1">
                </td>
            </tr>
   
            
        </tbody></table>
    </div>

					</form>

   
            </div>

            
        </div>

    </div>
   


</body>
</html>