<html><head>
    <meta name="viewport" content="width=device-width">
    <title>Index</title>
    <link rel="stylesheet" href="__JS__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/dataTables.bootstrap.css">
    <link rel="stylesheet" href="__CSS__/font-awesome.min.css">
    <link rel="stylesheet" href="__CSS__/index.css">
    <link rel="stylesheet" href="__CSS__/style.min.css">
    <link rel="stylesheet" href="__CSS__/framework-ui.css">
     <script src="__JS__/jquery/jQuery-2.2.0.min.js"></script>
   <script src="__JS__/bootstrap/js/bootstrap.min.js"></script>
   <script src="__JS__/layer/layer.js"></script>
   <script src="__JS__/framework-ui.js"></script>
</head>
<script language="javascript">

function btn_look(cid) {
        var linkurl="{:U('PatientMember/lookPatientMember',array('id'=>'nidval'))}";
        linkurl=linkurl.replace('nidval', cid),
        $.modalOpen({
            id: "Form",
            title: "查看详细信息",
            url: linkurl,
            width: "645px",
            height: "500px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
}


function Refresh()
{
	self.location.reload();
}
</script>
<style type="text/css">
    .search{
            
            color: #9d9d9d;

    }
</style>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>患者管理</h5>
                        <div class="ibox-tools">
                           
                        </div>
                    </div>
                    <div class="ibox-content">
						<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" href="{:U('HotSearch/index');}" style="margin-right: 10px;"><i class="fa fa-search"></i>热门搜索管理</a>
            <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" href="{:U('PatientMember/btn_export');}"><i class="fa fa-file-excel-o"></i>导出</a>
        </div>

    </div>
    <div class="search">
        <table>
            <tbody><tr>
                <td>
                <form class="form-serch" method="post" action="{:U('PatientMember/index')}">
                    <div class="input-group">
                        <input id="name" name="name" type="text" class="form-control" placeholder="用户名" style="width: 200px;">
                        <!-- <span class="input-group-btn">
                            <button id="btn_search" type="submit" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span> -->
                    </div>
                    <div class="input-group">
                        <select name="member_level" class="search form-control">
                            <option value="">请选择会员等级</option>
                            <option value="0">非会员</option>
                            <option value="1">VIP</option>
                            <option value="2">SVIP</option>
                        </select>
                      
                    </div>
                    <div class="input-group">
                        <select name="status" class="search form-control" style="margin-top: 5px;">
                            <option value="">请选择状态</option>
                            <option value="0">异常</option>
                            <option value="1">正常</option>
                        </select>
                        <span class="input-group-btn">
                            <button id="btn_search" type="submit" class="btn  btn-primary" style="margin-top: 5px;"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                    </form>
                </td>
            </tr>
        </tbody></table>
    </div>
</div>
                    
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th align="left">ID</th>
                                    <th align="left">姓名</th>
                                    <th align="left">年龄</th>
                                    <th align="left">性别</th>
                                    <th align="left">电话</th>
                                    <!-- <th align="left">身份证号码</th> -->
                                    <th align="left">会员</th>
                                    <th align="left">状态</th>
                                    <th align="left">注册时间</th>
                                    <th align="left">编辑</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                            
                               <volist name="patientmemberlist" id="vo">
                                <tr class="gradeC">
                                    <td>{$vo.id}</td>
                                     <td>{$vo.name}</td>
                                    <td>{$vo.age}</td>
                                    <td>
                                        <switch name="vo.sex">
                                            <case value="0">未知</case>
                                            <case value="1">女</case>
                                            <case value="2">男</case>
                                            <default />
                                       </switch>
                                    </td>
                                    <td>{$vo.username}</td>
                                    <!-- <td>{$vo.card}</td> -->
                                    <td>
                                        <switch name="vo.member_level">
                                            <case value="0">非会员</case>
                                            <case value="1">VIP</case>
                                            <case value="2">SVIP</case>
                                            <default />
                                       </switch>
                                    </td>
                                    <td>
                                        <switch name="vo.status">
                                            <case value="0">异常</case>
                                            <case value="1">正常</case>
                                            <default />
                                       </switch>
                                    </td>

                                    <td >{$vo['createtime']|date='Y-m-d H:i:s',###}</td>
                                    <td align="center"><a onClick="btn_look({$vo['id']})" class="LGQ_ico"><i class="fa fa-pencil-square-o"></i> 查看详细信息</a></td>
                                </tr>
                               </volist>
                                
                              
                            </tbody>
                           
                        </table>
                        <div class="row">
                       {$page}
                       </div>


                  
 					</div>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
    </div>
  
  
</body>
</html>