<html><head>
    <meta name="viewport" content="width=device-width">
    <title>Form</title>
    <link rel="stylesheet" href="__JS__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/font-awesome.min.css">
    <link rel="stylesheet" href="__CSS__/index.css">
    <link rel="stylesheet" href="__CSS__/style.min.css">
    <link rel="stylesheet" href="__CSS__/framework-ui.css">
  
<script src="__JS__/jquery/jQuery-2.2.0.min.js"></script>
<script src="__JS__/bootstrap/js/bootstrap.min.js"></script>
<script src="__JS__/validate/jquery.validate.min.js"></script>
<script src="__JS__/layer/layer.js"></script>
<script src="__JS__/framework-ui.js"></script>
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<script>
function submitForm() {
  if (!$('#commentForm').formValid()) {
       return false;
  }
  $.submitForm({
            url: "{:U('PatientMember/lookPatientMember')}",
            param: $("#commentForm").formSerialize(),
            success: function () {
                $.currentWindow().Refresh();
            }
  })

}
</script>
<style type="text/css">
    .form tr{
        margin-bottom: 15px;
    }
    select{
        width: 100%;
        height: 30px;
        border-color: rgb(229, 230, 231);
    }
</style>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        
        <div class="row">
            <div class="col-sm-12">       
   <form class="form-horizontal" id="commentForm" action="" method="post">
      <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tbody>
            

            <tr>
                <th class="formTitle">姓名：</th>
                <td class="formValue">
                    <input id="id" name="id" type="hidden" class="form-control required" disabled value="{$patientmember.id}" >
                    <input type="hidden" name="user_id" id="user_id" value="{$patientmember.user_id}">
                    <input id="username" name="username" type="text" class="form-control required" disabled value="{$patientmember.name}">
                </td>
                <th class="formTitle">年龄：</th>
                <td class="formValue">
                    <input id="age" name="age" type="text" class="form-control required" disabled value="{$patientmember.age}">
                </td>
            </tr>
            <tr>
                <th class="formTitle">性别：</th>
                <td class="formValue">
                    <switch name="patientmember.sex"> 
                        <case value="0"><input type="text" class="form-control" disabled value="未知"></case>
                        <case value="1"><input type="text" class="form-control" disabled value="女"></case>
                        <case value="2"><input type="text" class="form-control" disabled value="男"></case>
                        <default/>
                    </switch>
                    </if>
                </td>
                <th class="formTitle">头像：</th>
                <td class="formValue">
                    <img src="{$http_img_url}{$patientmember.img_thumb}" style="width: 50px;height: 50px;">
                   
                </td>
            </tr>
          
            
            <tr>
                <th class="formTitle">电话：</th>
                <td class="formValue">
                    <input id="phone" name="phone" type="text" class="form-control" disabled value="{$patientmember.username}">
                </td>
                <th class="formTitle">身份证号码：</th>
                <td class="formValue">
                    <input id="card" name="card" type="text" class="form-control" disabled value="{$patientmember.card}">
                </td>
                
            </tr>
            
            <tr>
                <th class="formTitle">会员：</th>
                <td class="formValue">
                    <select name="member_level" id="member_level">
                        <option <if condition="$patientmember.member_level eq 0">selected</if> value="0">非会员</option>
                        <option <if condition="$patientmember.member_level eq 1">selected</if> value="1">VIP</option>
                        <option <if condition="$patientmember.member_level eq 2">selected</if> value="2">SVIP</option>
                        
                    </select>
                  <!--  <switch name="patientmember.member_level">
                        <case value="0">非会员</case>
                        <case value="1">VIP</case>
                        <case value="2">SVIP</case>
                        <default />
                   </switch> -->
                </td>
                
                <th class="formTitle">状态：</th>
                <td class="formValue">
                    <select name="status" id="status">
                        <option <if condition="$patientmember.status eq 0">selected</if> value="0">异常</option>
                        <option <if condition="$patientmember.status eq 1">selected</if> value="1">正常</option>
                    </select>
                   <!--  <switch name="patientmember.status">
                        <case value="0">异常</case>
                        <case value="1">正常</case>
                        <default />
                   </switch> -->
                </td>
            </tr>
            <tr>
                <th class="formTitle">充值金额：</th>
                <td class="formValue">
                    <select name="operation" id="operation" style="float:left; line-height:30px; height:30px;width: 45px;">
                        <option value="+">加</option>
                        <option value="-">减</option>
                    </select>
                    <input id="balance" name="balance" type="text" class="form-control" style="width:78%" >
                </td>
            </tr>
            
             <!-- <tr>
                <th class="formTitle">充值金额：</th>
                <td class="formValue">
                   	<select name="operation" id="operation" style="float:left; line-height:30px; height:30px;width: 45px;">
                        <option value="+">加</option>
                        <option value="-">减</option>
                    </select>
                    <input id="balance" name="balance" type="text" class="form-control" style="width:78%" >
                </td>
                 <th class="formTitle"></th>
                <td class="formValue">
                   
                   
                </td>
            
            </tr> -->
           
        </tbody></table>
    </div>
 
					</form>

   
            </div>

            
        </div>

    </div>
   


</body>
</html>