<html><head>
    <meta name="viewport" content="width=device-width">
    <title>Form</title>
    <link rel="stylesheet" href="__JS__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/font-awesome.min.css">
    <link rel="stylesheet" href="__CSS__/index.css">
    <link rel="stylesheet" href="__CSS__/style.min.css">
    <link rel="stylesheet" href="__CSS__/framework-ui.css">
    <link rel="stylesheet" href="__CSS__/UploadImages.css">
  
<script src="__JS__/jquery/jQuery-2.2.0.min.js"></script>
<script src="__JS__/bootstrap/js/bootstrap.min.js"></script>
<script src="__JS__/validate/jquery.validate.min.js"></script>
<script src="__JS__/layer/layer.js"></script>
<script src="__JS__/framework-ui.js"></script>
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<script src="__JS__/UploadImages.js"></script>
<script>
function submitForm() {
  if (!$('#commentForm').formValid()) {
       return false;
  }
  $.submitForm({
            url: "{:U('Goods/editGoods')}",
            param: $("#commentForm").serialize(),
            success: function () {
                $.currentWindow().Refresh();
            }
  })

}
</script>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        
        <div class="row">
            <div class="col-sm-12">       
   <form class="form-horizontal" id="commentForm" action="{:U('Goods/editGoods')}" method="post">
         <input type="hidden" name="id" id="id" value="{$result.id}">
        
      <div style="padding-top: 20px;">
      
        <table class="form">
            <tbody>
            <tr>
                <th class="formTitle">产品名称：</th>
                <td class="formValue">
                     <input id="title" name="title" type="text" class="form-control required"  value="{$result.title}">
                </td>
            </tr>
            <tr>
                <th class="formTitle">所属分类：</th>
                <td class="formValue">
                    <select id="category_id" name="category_id" class="form-control">
                  
                            {$select_categorys}
              
                    </select>
                </td>
            </tr>
            
             <tr>
                <th class="formTitle">市场价：</th>
                <td class="formValue">
                    <input id="original_price" name="original_price" type="text" class="form-control required" placeholder="请输入市场价" value="{$result.original_price}">
                </td>
            </tr>
            
             <tr>
                <th class="formTitle">现价：</th>
                <td class="formValue">
                    <input id="price" name="price" type="text" class="form-control required" placeholder="请输入现价" value="{$result.price}">
                </td>
            </tr>
            
             <tr>
                <th class="formTitle">库存：</th>
                <td class="formValue">
                    <input id="stock" name="stock" type="text" class="form-control required" placeholder="请输入库存" value="{$result.stock}">
                </td>
            </tr>
            
             <tr>
                <th class="formTitle">已销售数量：</th>
                <td class="formValue">
                    <input id="sales" name="sales" type="text" class="form-control required" placeholder="请输入已销售数量" value="{$result.sales}">
                </td>
            </tr>
            
             
            
            
            <tr>
                <th class="formTitle">排序：</th>
                <td class="formValue">
                    <input id="sort" name="sort" type="text" class="form-control required number" placeholder="请输入排序" value="{$result.sort}">
                </td>
            </tr>
            
            <tr>
                <th class="formTitle">状态：</th>
                <td class="formValue">
                   <select id="status" name="status" class="form-control required">
                    	
                   			 <option value="0" <php>if($result['status']==0){ </php>selected<php>}</php>>上架</option>
                             <option value="1" <php>if($result['status']==1){ </php>selected<php>}</php>>下架</option>
                           
                    </select>
                </td>
            </tr>
            
            <tr>
                <th class="formTitle">是否推荐：</th>
                <td class="formValue">
                   <select id="recommend" name="recommend" class="form-control required">
                    	
                   			 <option value="0" <php>if($result['recommend']==0){ </php>selected<php>}</php>>否</option>
                             <option value="1" <php>if($result['recommend']==1){ </php>selected<php>}</php>>是</option>
                           
                    </select>
                </td>
            </tr>
            
            <tr>
                <th class="formTitle">商品标签：</th>
                <td class="formValue">
                <volist name="lable" id="vo">
                   <input type="checkbox" name="label[]" value="{$vo.id}" <php>if(in_array($vo['id'],explode(',',$result['label']))){</php> checked <php>}</php>> {$vo.title}
                   </volist>
                </td>
            </tr>
            
            <tr>
                <th class="formTitle">描述：</th>
                <td class="formValue">
                    <textarea class="form-control" cols="5" name="description" id="description">{$result.description}</textarea>
                </td>
            </tr>
            
             <tr>
                <th class="formTitle">图片：</th>
                <td class="formValue">
       
					<input type="file" id="upload_picture_img">
				<input type="hidden" name="img_thumb" id="img_thumb" value="{$result.img_thumb}"/>
						
		
                    <script type="text/javascript">

					//上传图片


				    /* 初始化上传插件 */


					$("#upload_picture_img").uploadify({

				        "height"          : 30,

				        "swf"             : "__STATIC__/uploadify/uploadify.swf",

				        "fileObjName"     : "download",

				        "buttonText"      : "上传图片",

				        "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",

				        "width"           : 120,

				        'removeTimeout'	  : 1,

				        'fileTypeExts'	  : '*.jpg; *.png; *.gif;',

				        "onUploadSuccess" : uploadPictureimg,
				        'onFallback' : function() {

				            alert('未检测到兼容版本的Flash.');

				        }

				    });

					function uploadPictureimg(file, data){

				    	var data = $.parseJSON(data);
				    	var src = '';
				        if(data.status){

				        	$("#img_thumb").val(data.data.path);
				        	src = data.data.path;
				        	$("#img_thumb").parent().parent().parent().find('.upload-img-box').html(
				        		'<div class="upload-pre-item"><img src="'+ http_img_url + src + '"/></div>'
				        	);
				        } else {
				        	alert(data.info);
				        }
				    }

					</script>
                </td>
            </tr>
            
             <tr>
                <th class="formTitle"></th>
                <td class="formValue">
                   <div class="upload-img-box">
						<notempty name="result['img_thumb']">
							<div class="upload-pre-item"><img src="{$http_img_url}{$result.img_thumb}"/></div>
						</notempty>
					</div>
                </td>
            </tr>
            
            
             <tr>
                <th class="formTitle">多图上传：</th>
                <td class="formValue">
       
					<input type="file" id="upload_picture_itemimg">
				<input type="hidden" name="img_item" id="img_item" class="icon imgitem" value="{$result.img_item}"/>
						
		
                    <script type="text/javascript">


					//上传图片


				    /* 初始化上传插件 */


					$("#upload_picture_itemimg").uploadify({

				        "height"          : 30,

				        "swf"             : "__STATIC__/uploadify/uploadify.swf",

				        "fileObjName"     : "download",

				        "buttonText"      : "上传图片",

				        "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",

				        "width"           : 120,

				        'removeTimeout'	  : 1,

				        'fileTypeExts'	  : '*.jpg; *.png; *.gif;',

				        "onUploadSuccess" : uploadPictureimgitem,
				        'onFallback' : function() {

				            alert('未检测到兼容版本的Flash.');

				        }

				    });
				$(document).on("click",'.btn-close-imgitem',function(event){
					event.preventDefault();
					$(this).parent().remove();
					picsbox = $("#upload_picture_itemimg").siblings('.upload-itemimg-box');
					picArr = [];
					for (var i = 0; i < picsbox.children().length ; i++) {
						picArr.push(picsbox.children('.upload-pre-item:eq('+i+')').find('img').attr('tid'));
					};
					picStr = picArr.join(',');
					$('.icon.imgitem').val(picStr);
				});
				function uploadPictureimgitem(file, data){
					var data = $.parseJSON(data);
					var src = '';
					if(data.status){
						src = data.data.path;
						upload_img = "<div class='upload-pre-item'><img src="+ http_img_url + src +" title='点击显示大图' tid=" + src +"> <span class='btn-close btn-close-imgitem' title='删除图片'></span></div>";
						picsbox = $("#upload_picture_itemimg").siblings('.upload-itemimg-box');
						picsbox.append(upload_img)
						picArr = [];
						for (var i = 0; i < picsbox.children().length ; i++) {
							picArr.push(picsbox.children('.upload-pre-item:eq('+i+')').find('img').attr('tid'));
						};
						picStr = picArr.join(',');
						$('.icon.imgitem').val(picStr);
					} else {
						updateAlert(data.info);
						setTimeout(function(){
							$('#top-alert').find('button').click();
							$(that).removeClass('disabled').prop('disabled',false);
						},1500);
					}
   			 }

					</script>
                   <div class="upload-itemimg-box">
						<notempty name="result['img_item']">
                        	<php>$imgres=explode(',',$result['img_item']);
                            foreach($imgres as $val)
                            {
                            </php>
                           
							<div class="upload-pre-item"><img src="{$http_img_url}{$val}" title='点击显示大图' tid="{$val}"/> <span class='btn-close btn-close-imgitem' title='删除图片'></span></div>
                            <php>}</php>
						</notempty>
					</div>
                </td>
            </tr>
            
            
            
            
             <tr>
                <th class="formTitle">详情：</th>
                <td class="formValue">
       
					<input type="file" id="upload_picture_body">
				<input type="hidden" name="body" id="body" class="icon body"  value="{$result.body}" />
						
		
                    <script type="text/javascript">


					//上传图片


				    /* 初始化上传插件 */


					$("#upload_picture_body").uploadify({

				        "height"          : 30,

				        "swf"             : "__STATIC__/uploadify/uploadify.swf",

				        "fileObjName"     : "download",

				        "buttonText"      : "上传图片",

				        "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",

				        "width"           : 120,

				        'removeTimeout'	  : 1,

				        'fileTypeExts'	  : '*.jpg; *.png; *.gif;',

				        "onUploadSuccess" : uploadPicturebody,
				        'onFallback' : function() {

				            alert('未检测到兼容版本的Flash.');

				        }

				    });
				$(document).on("click",'.btn-close-imgitem',function(event){
					event.preventDefault();
					$(this).parent().remove();
					picsbox = $("#upload_picture_body").siblings('.upload-itemimg-box');
					picArr = [];
					for (var i = 0; i < picsbox.children().length ; i++) {
						picArr.push(picsbox.children('.upload-pre-item:eq('+i+')').find('img').attr('tid'));
					};
					picStr = picArr.join(',');
					$('.icon.body').val(picStr);
				});
				function uploadPicturebody(file, data){
					var data = $.parseJSON(data);
					var src = '';
					if(data.status){
						src = data.data.path;
						upload_img = "<div class='upload-pre-item'><img src="+ http_img_url + src +" title='点击显示大图' tid=" + src +"> <span class='btn-close btn-close-imgitem' title='删除图片'></span></div>";
						picsbox = $("#upload_picture_body").siblings('.upload-itemimg-box');
						picsbox.append(upload_img)
						picArr = [];
						for (var i = 0; i < picsbox.children().length ; i++) {
							picArr.push(picsbox.children('.upload-pre-item:eq('+i+')').find('img').attr('tid'));
						};
						picStr = picArr.join(',');
						$('.icon.body').val(picStr);
					} else {
						updateAlert(data.info);
						setTimeout(function(){
							$('#top-alert').find('button').click();
							$(that).removeClass('disabled').prop('disabled',false);
						},1500);
					}
   			 }

					</script>
                  <div class="upload-itemimg-box">
						<notempty name="result['body']">
                        	<php>$imgres=explode(',',$result['body']);
                            foreach($imgres as $val)
                            {
                            </php>
                           
							<div class="upload-pre-item"><img src="{$http_img_url}{$val}" tid="{$val}" title='点击显示大图'/> <span class='btn-close btn-close-imgitem' title='删除图片'></span></div>
                            <php>}</php>
						</notempty>
					</div>
                </td>
            </tr>
            
            
             <tr>
                <th class="formTitle"></th>
                <td class="formValue">
                    
                </td>
            </tr>
            
            
            
        </tbody></table>
         </div>
         
    </div>
</form>

   
            </div>

            
        </div>

    </div>
   


</body>
</html>