<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>刘国强</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="__STATIC__/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__STATIC__/layuiadmin/style/admin.css" media="all">
</head>
<body>

 
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-body">
            <table class="layui-table">
              <colgroup>
              	<col width="50">
                <col>
              </colgroup>
              <form id="commentForm" action="{:U('Role/saveAppAccess')}" method="post">
              <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
                         
   							<input type="hidden" name="role_id" id="role_id" value="{$role_id}">
                            <input type="hidden" name="chain_id" id="chain_id" value="{$chain_id}" >
                            <input type="hidden" name="shop_id" id="shop_id" value="{$shop_id}" >
              <thead>
                <tr>
                <th align="left">ID</th>
                <th align="left">名称</th>
                </tr> 
              </thead>
              <tbody>
              
                {$categorys}
     
              </tbody>
            </table>
              <div class="layui-form-item layui-hide">
      <input type="button" lay-submit lay-filter="LAY-user-front-submit" id="LAY-user-front-submit" value="确认">
    </div>
            	</form>
 					</div>
          </div>
        </div>
      </div>
</div>
</div>
 <script src="__JS__/jquery/jQuery-2.2.0.min.js"></script>
 <script src="__JS__/framework-ui.js"></script>
  <script src="__STATIC__/layuiadmin/layui/layui.js"></script> 
  <script type="text/javascript"> 
function checknode(obj) {
	    var chk = $("input[type='checkbox']");
	    var count = chk.length;
	    var num = chk.index(obj);
	    var level_top = level_bottom = chk.eq(num).attr('level');
	    for (var i = num; i >= 0; i--) {
	        var le = chk.eq(i).attr('level');
	        if (le <level_top) {
	            chk.eq(i).prop("checked", true);
	            var level_top = level_top - 1;
	        }
	    }
	    for (var j = num + 1; j < count; j++) {
	        var le = chk.eq(j).attr('level');
	        if (chk.eq(num).prop("checked")) {
	            if (le > level_bottom){
	            	chk.eq(j).prop("checked", true);
	            }
	            else if (le == level_bottom){
	            	break;
	            }
	        } else {
	            if (le >level_bottom){
	            	chk.eq(j).prop("checked", false);
	            }else if(le == level_bottom){
	            	break;
	            }
	        }
	    }
	}
</script>
 <script>
 layui.config({
    base: '__STATIC__/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form'], function(){
    var $ = layui.$
    ,form = layui.form
	
	form.on('submit(LAY-user-front-submit)', function(data){
	  	$.submitForm({
		url: "{:U('Role/saveAppAccess')}",
		param: $("#commentForm").serialize(),
		success: function () {
			$.currentWindow().Refresh();
		}
	}) 
	return false;  
})
});
</script>
</body>
</html>