<html><head>
    <meta name="viewport" content="width=device-width">
    <title>Index</title>
    <link rel="stylesheet" href="__JS__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/dataTables.bootstrap.css">
    <link rel="stylesheet" href="__CSS__/font-awesome.min.css">
    <link rel="stylesheet" href="__CSS__/style.min.css">
    <link rel="stylesheet" href="__CSS__/framework-ui.css">
    <link rel="stylesheet" href="__CSS__/UploadImages.css">
     <script src="__JS__/jquery/jQuery-2.2.0.min.js"></script>
   <script src="__JS__/bootstrap/js/bootstrap.min.js"></script>
   <script src="__JS__/layer/layer.js"></script>
   <script src="__JS__/framework-ui.js"></script>
   <script src="__JS__/zoomify.min.js"></script>
   <script src="__JS__/UploadImages.js"></script>
</head>
<script>
function submitForm() {
  $.submitForm({
            url: "{:U('Pharmacy/editPharmacy')}",
            param: $("#commentForm").formSerialize(),
            success: function () {
                // Refresh();
                $.currentWindow().Refresh();
            }
  })

}

function btn_add(cid) {
         var linkurl="{:U('Pharmacy/addHrebs',array('id'=>'nidval'))}";
         linkurl=linkurl.replace('nidval', cid),
         $.modalOpen({
             id: "Form1",
             title: "添加药材",
             url: linkurl,
             width: "670px",
             height: "500px",
             callBack: function (iframeId) {
                 top.frames[iframeId].submitForm();
             }
         });
 }
function btn_delete(id){
    $.deleteForm({
            url: "{:U('Pharmacy/delHrebs')}",
            param: { id: id},
            success: function () {
                top.Form.Refresh();
            }
        })
}
function dianji(){
    $('.icon').zoomify();
}
function Refresh()
{
	location.reload();
}
</script>
<style type="text/css">
  .table th{
    font-weight: normal;
  }
</style>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight" style="border: none;width: 800px;margin: 0 auto;">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <form class="form-horizontal" id="commentForm" action="{:U('Pharmacy/editPharmacy')}" method="post">
                    <div class="ibox-content">
						<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <input type="hidden" name="id" id="id" value="{$result.id}">
                        <table class="table table-bordered dataTable">
                          	 <thead>
                                <tr>
                                    <th colspan="4" style="text-align:center;">基本信息</th>
                                </tr>
                            </thead>
                            <tbody>
                            	
                                <tr class="gradeC">
                                    <th style="text-align:right">订单号：</th>
                                    <td>{$result.order_sn}</td>
                                    <th style="text-align:right">订单状态：</th>
                                    <td>
                                      {$result.order_status}
                                    </td>
                                     
                                    
                                </tr>
                                
                                 <tr class="gradeC">
                                    <th style="text-align:right">下单人：</th>
                                    <td>{$result.username}</td>
                                    <th style="text-align:right">下单时间：</th>
                                    <td>{$result['create_time']|date='Y-m-d H:i:s',###}</td>
                                   
                                </tr>
                                <tr class="gradeC">
                                    <th style="text-align:right">患者姓名：</th>
                                    <td>{$patient.name}</td>
                                    <th style="text-align:right">患者性别：</th>
                                    <td>
                                      <switch name="patient.sex">
                                        <case value="0">未知</case>
                                        <case value="1">女</case>
                                        <case value="2">男</case>
                                        <default/>
                                      </switch>
                                    </td>
                                   
                                </tr>
                                <tr class="gradeC">
                                    <th style="text-align:right">患者年龄：</th>
                                    <td>{$patient.age}岁</td>
                                    <th style="text-align:right">患者电话：</th>
                                    <td>
                                      {$patient.phone}
                                    </td>
                                   
                                </tr>
                                
                                <tr class="gradeC">
                                    <th style="text-align:right"><span style="color: #f00;">*</span>运费：</th>
                                    <td>{$result.yun_free}</td>
                                   <!--  <th style="text-align:right">审核价格：</th>
                                    <td><input type="text" id="price" name="price" value="{$result.price}" class="form-control" style="width: 100%;"></td> -->
                                    <th style="text-align:right"><span style="color: #f00;">*</span>审核：</th>
                                    <td  colspan="3">
                                        <select name="is_show" id="is_show" style="border: none;width: 100px;" <php>if($result['order_status']=='待审核'){</php><php>}else{</php>disabled="disabled"<php>}</php>>
                                            <option <if condition="$result.is_show eq 0">selected</if> value="0">未审核</option>
                                            <option <if condition="$result.is_show eq 1">selected</if> value="1">审核通过</option>
                                            <option <if condition="$result.is_show eq 2">selected</if> value="2">审核未通过</option>
                                            
                                        </select>
                                    </td>
                                   
                                </tr>
                                <tr class="gradeC">
                                    <th style="text-align:right"><span style="color: #f00;">*</span>副数：</th>
                                    <td  class="formValue" style="width:200px;">
                                        {$result.hrebs_number}
                                    </td>
                                    <th style="text-align:right"><span style="color: #f00;">*</span>剂型选择：</th>
                                    <td  colspan="3">
                                        
                                         <select name="setting_id_dostype" id="setting_id_dostype" style="border: none;width: 100px;" <if condition="$result['order_status'] neq '核价中'">disabled="disabled"</if> onChange="cll();">
                                            <option <if condition="$result.setting_id_dostype eq 131">selected</if> value="131">原药</option>
                                            <option <if condition="$result.setting_id_dostype eq 132">selected</if> value="132">汤药代煎</option>
                                            <option <if condition="$result.setting_id_dostype eq 133">selected</if> value="133">膏方制作</option>
                                            
                                        </select>
                                    </td>
                                </tr>
                                <tr class="gradeC">
                                    <th style="text-align:right">收货人：</th>
                                    <td>{$result.consignee}</td>
                                    <th style="text-align:right">收货人电话：</th>
                                    <td>{$result.phone}</td>
                                   
                                </tr>
                                <tr class="gradeC">
                                  <th style="text-align:right">收货地址：</th>
                                    <td colspan="3">{$result.address}</td>
                                </tr>
                                <tr class="gradeC">
                                  <th style="text-align:right">备注：</th>
                                    <td colspan="3">{$result.content}</td>
                                </tr>
                                <tr class="gradeC">
                                  <th style="text-align:right">图片：</th>
                                  <td colspan="3" class="formValue" style="position: relative;width: auto;padding: 5px;"> 
                                  <div class="upload-img-box">
                                    <volist name="images" id="img">
                                      <div class="upload-pre-item" style="width: auto;border: none;">
                                        <img src="{$http_img_url}{$img}" style="width: auto;margin: 0 auto;">
                                      </div>
                                      
                                    </volist>

            
                                </div>
                                  </td>
                                </tr>
                                
                              
                            </tbody>
                           
                        </table>
                        
                        <!-- <div class="btn-group" style="float: right;">
                            <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" href="{:U('Pharmacy/btn_export',array('id'=>$result['id']));}"><i class="fa fa-file-excel-o"></i>导出</a>
                        </div> -->
                       
                        <table class="table table-bordered dataTable">
                          	 <thead>
                                <tr>
                                    <th colspan="5" style="text-align:center;">商品信息</th> 
                                </tr>
                                 <tr>
                                    <th>商品名称</th>
                                    <th>价格</th>
                                    <th>数量</th>
                                    <th>小计</th>
                                     <php> if($result['order_status'] == '核价中'){</php><th>操作</th><php>  }</php>
                                </tr>
                            </thead>
                            <tbody>
                            	
                             
                               
                                <volist name="hrebs" id="vo">
                                 <tr class="gradeC">
                                    <td>{$vo.hrebs_name}</td>
                                    <td>{$vo.unit_price} 元</td>
                                    <td>
                                        {$vo.hrebs_dosage}
                                        <if condition="$vo['setting_id_model'] eq 50">克
                                        <else/>袋
                                        </if>
                                    </td>
                                    <td>{$vo['unit_price']*$vo['hrebs_dosage']} 元</td>
                                     <php> if($result['order_status'] == '核价中'){</php><td><a onClick="btn_delete({$vo['id']})" class="LGQ_ico"><i class="fa fa-trash-o"></i> 删除</a></td><php>  }</php>
                                </tr>
                         		</volist>
                                
                                <tr>
                                    <th colspan="5" style="text-align:right;">药材总价：<span id="single_price"><if condition="$total neq 0"> {$total*$result['hrebs_number']}<else/>0.00</if></span>元</th>
                                    <input type="hidden" name="price" id="price" value="{$total}">
                                </tr>
                                <tr>
                                    <th colspan="5" style="text-align:right;">加工费：
                                      <span id="jz_price"><if condition="$result.process_price neq 0.00">{$result['process_price']}<else/>0.00</if></span> 
                                      
                                    元</th>
                                </tr>
                                <tr>
                                    <th colspan="5" style="text-align:right;">处方总价：<span id="hrebs_total_count"><if condition="$total neq 0"> {$total*$result['hrebs_number']+$result['process_price']}<else/>0.00</if></span>元</th>
                                </tr>
                               <tr>
                                    <th colspan="5" style="text-align:right;">运费： <span id="yun"><if condition="$result.yun_free neq 0.00">{$result['yun_free']}<else/>0.00</if></span>元</th>
                                </tr>   
                                <tr>
                                    <th colspan="5" style="text-align:right;">总价格： <span id="all_total">{$total*$result['hrebs_number']+$result['process_price']+$result['yun_free']}</span>元</th>
                                </tr>                         </tbody>
                           	
                        </table>
                        
                         
                       
 					</div>
                    </div>
                    </form>
                    
                </div>
                
            </div>
            
        </div>
        
    </div>

</body>
</html>