<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>会员分析</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="__STATIC__/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__STATIC__/layuiadmin/style/admin.css" media="all">
</head>
<body>
  
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">会员分析</div>
         
         	
         <div class="layui-col-sm6 layui-col-md2">
        <div class="layui-card">
          <div class="layui-card-header">
            会员数
          </div>
          <div class="layui-card-body layuiadmin-card-list">
            <p class="layuiadmin-big-font">{$member_count}</p>
          </div>
        </div>
      </div>
      
       <div class="layui-col-sm6 layui-col-md2">
        <div class="layui-card">
          <div class="layui-card-header">
            会员卡卡面余额
          </div>
          <div class="layui-card-body layuiadmin-card-list">
            <p class="layuiadmin-big-font">￥{$member_balance}</p>
          </div>
        </div>
      </div>
      
       <div class="layui-col-sm6 layui-col-md2">
        <div class="layui-card">
          <div class="layui-card-header">
            会员卡充值余额
          </div>
          <div class="layui-card-body layuiadmin-card-list">
            <p class="layuiadmin-big-font">￥{$membercard_prepaid}</p>
          </div>
        </div>
      </div>
      
       <div class="layui-col-sm6 layui-col-md3">
        <div class="layui-card">
          <div class="layui-card-header">
            次卡充值余额
          </div>
          <div class="layui-card-body layuiadmin-card-list">
            <p class="layuiadmin-big-font">￥{$numcard_balance}</p>
          </div>
        </div>
      </div>
      
  
       <div class="layui-col-sm6 layui-col-md3">
        <div class="layui-card">
          <div class="layui-card-header">
            疗程卡充值余额
          </div>
          <div class="layui-card-body layuiadmin-card-list">
            <p class="layuiadmin-big-font">￥{$coursecard_balance}</p>
          </div>
        </div>
      </div>
      
      <div class="layui-col-md12">
           <div class="layui-card">
            <div class="layui-card-body layui-form">
            
            <form name="fm" id="fm" action="{:U('Dataanalysis/member')}" method="post">
          <div class="layui-form-item">

            <div class="layui-inline">
                  <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="test-laydate-start" name="start_time" value="{$start_time}" placeholder="开始日期">
                  </div>
                  <div class="layui-form-mid">
                    -
                  </div>
                  <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="test-laydate-end" name="end_time" value="{$end_time}"  placeholder="结束日期">
                  </div>
                </div>
                  <button class="layui-btn" data-type="reload">搜 索</button>
			</div>
            </form>
            
			
          
       
            </div>
              </div>
           </div>
      
       <div class="layui-col-md8">
           <div class="layui-card">
            <div class="layui-card-body">
           
           		<div id="Canvas1" style="height:500px;"></div>
            </div>
              </div>
           </div>
           
             <div class="layui-col-md4">
             <div class="layui-card">
              <div class="layui-card-body">
           			<div id="Canvas2" style="height:250px;"></div>
                    <div id="Canvas3" style="height:250px;"></div>
              </div>
              </div>
              </div>
              
              
              <div class="layui-col-md12">
              <div class="layui-card">
              <div class="layui-table-body" style="margin-left:10px; margin-right:10px">
            <table class="layui-table tablesorter">
              <thead>
                <tr>
                  <th><div class="layui-table-cell" style="width:80px; text-align:center;">日期</div></th>
                  <th><div class="layui-table-cell">新增会员</div></th>
                  <th><div class="layui-table-cell">会员卡充值(元)</div></th>
                  <th><div class="layui-table-cell">次卡充值(元)</div></th>
                  <th><div class="layui-table-cell">期限卡充值(元)</div></th>
                  <th><div class="layui-table-cell">疗程卡充值(元)</div></th>
                  <th><div class="layui-table-cell">会员卡总消费(元)</div></th>
                  <th><div class="layui-table-cell">次卡总消费(元)</div></th>
                  <th><div class="layui-table-cell">疗程卡总消费(元)</div></th>
                </tr> 
              </thead>
              <tbody>
              
              
                <tr>
                  <td>合计</td>
                  <td >{$member_data_count}</td>
                  <td >{$membercard_prepaid}</td>
                  <td >{$numcard_prepaid}</td>
                  <td >{$deadlinecard_prepaid}</td>
                  <td >{$coursecard_balance}</td>
                  <td >{$membercard_consumption}</td>
                  <td >{$numcard_consumption}</td>
                  <td >{$coursecard_consumption}</td>
                </tr>
                
                <volist name="redata_array" id="vo">
                 <tr>
                  <td>{$vo}</td>
                  <td >{$member_data_array[$key]}</td>
                  <td >{$membercard_array_prepaid[$key]}</td>
                  <td >{$numcard_array_prepaid[$key]}</td>
                  <td >{$deadlinecard_array_prepaid[$key]}</td>
                  <td >{$coursecard_array_prepaid[$key]}</td>
                  <td >{$membercard_array_consumption[$key]}</td>
                  <td >{$numcard_array_consumption[$key]}</td>
                  <td >{$coursecard_array_consumption[$key]}</td>
                </tr>
               </volist>
              </tbody>
            </table>
          </div>
          </div>
</div>
              
              
           
        </div>
        </div>
      </div>
    </div>
  
 <script src="__JS__/jquery/jQuery-2.2.0.min.js"></script>
  <script src="__JS__/jquery/jquery-latest.js"></script>
 <script src="__JS__/jquery/jquery.tablesorter.js"></script>
 <script src="__JS__/charts/echarts.min.js"></script>
 <script src="__JS__/framework-ui.js"></script>
  <script src="__STATIC__/layuiadmin/layui/layui.js"></script> 
  <script language="javascript">
    $(document).ready(function(){ 
      //第一列不进行排序(索引从0开始) 
      $.tablesorter.defaults.headers = {0: {sorter: false}}; 
      $(".tablesorter").tablesorter(); 
  }); 
  layui.config({
    base: '__STATIC__/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'laydate'], function(){
  		
		var laydate = layui.laydate;
    
    //示例代码
    
    //开始日期
    var insStart = laydate.render({
      elem: '#test-laydate-start'
      ,done: function(value, date){
        //更新结束日期的最小日期
        insEnd.config.min = lay.extend({}, date, {
          month: date.month - 1
        });
        
        //自动弹出结束日期的选择器
       insEnd.config.elem[0].focus();
      }
    });
    
    //结束日期
    var insEnd = laydate.render({
      elem: '#test-laydate-end'
      ,done: function(value, date){
        //更新开始日期的最大日期
        insStart.config.max = lay.extend({}, date, {
          month: date.month - 1
        });
      }
    });

  
});
  </script>
<script language="javascript">
var dom = document.getElementById("Canvas1");
var myChart = echarts.init(dom);
var app = {};
option = null;
option = {
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data:['新增会员','充值金额']
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: {$redata_time}
    },
    yAxis: {
        type: 'value'
    },
    series: [
        {
            name:'新增会员',
            type:'line',
            //stack: '总量',
            data:{$member_data}
        },
        {
            name:'充值金额',
            type:'line',
            //stack: '总量',
            data:{$topup_money}
        }
    ]
};
if (option && typeof option === "object") {
    myChart.setOption(option, true);
}
var dom2 = document.getElementById("Canvas2");
var myChart2 = echarts.init(dom2);
option2 = null;
option2 = {
    title: {
        text: '充值构成',
        left: 'center'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{b} : {c} ({d}%)"
    },
    series : [
        {
            type: 'pie',
            radius : '55%',
            center: ['50%', '50%'],
            selectedMode: 'single',
            data:[
                {value:{$membercard_prepaid}, name: '会员卡充值'},
                {value:{$numcard_prepaid}, name: '次卡充值'},
                {value:{$deadlinecard_prepaid}, name: '期限卡充值'},
                {value:{$coursecard_balance}, name: '疗程卡充值'}
            ],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};
if (option2 && typeof option2 === "object") {
    myChart2.setOption(option2, true);
}
var dom3 = document.getElementById("Canvas3");
var myChart3 = echarts.init(dom3);
option3 = null;
option3 = {
    title: {
        text: '消费构成',
        left: 'center'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{b} : {c} ({d}%)"
    },
    series : [
        {
            type: 'pie',
            radius : '55%',
            center: ['50%', '50%'],
            selectedMode: 'single',
            data:[
                {value:{$membercard_consumption}, name: '会员卡总消费'},
                {value:{$numcard_consumption}, name: '次卡总消费'},
                {value:{$coursecard_consumption}, name: '疗程卡总消费'}
            ],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};
if (option3 && typeof option3 === "object") {
    myChart3.setOption(option3, true);
}
  </script>
</body>
</html>