<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>编辑用户</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="__STATIC__/layuiadmin/layui/css/layui.css" media="all">
</head>
<body>
<div>
      <div class="layui-card-body">
        <form class="layui-form" action="" lay-filter="component-form-group" id="commentForm">
        <input type="hidden" name="chain_id" id="chain_id" value="{$chain_id}" >
        <input type="hidden" name="shop_id" id="shop_id" value="{$shop_id}" >
        <input type="hidden" name="id" id="id" value="{$result.id}">
          <div class="layui-form-item">
            <label class="layui-form-label">标签名称</label>
            <div class="layui-input-block">
              <input type="text" name="label_name" lay-verify="required" value="{$result.label_name}" autocomplete="off" placeholder="请输入标签名称" class="layui-input">
            </div>
          </div>
        
          
          <div class="layui-form-item">
            <label class="layui-form-label">所属分类</label>
            <div class="layui-input-block">
              <select name="cate_id" lay-filter="aihao">
              	<volist name="rolelist" id="vo">
                   	 <option value="{$vo.id}"  <php>if($result['cate_id']==$vo['id']){</php>selected<php>}</php> >{$vo.title}</option>
                 </volist>
              </select>
            </div>
          </div>  
          
           <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
              <input type="text" name="sort" lay-verify="required number" value="{$result.sort}" autocomplete="off" placeholder="请输入排序" class="layui-input">
            </div>
          </div>
          
          <div class="layui-form-item layui-hide">
      <input type="button" lay-submit lay-filter="LAY-user-front-submit" id="LAY-user-front-submit" value="确认">
    </div>

           
        </form>
      </div>
    </div>

 <script src="__JS__/jquery/jQuery-2.2.0.min.js"></script>
 <script src="__JS__/framework-ui.js"></script>
  <script src="__STATIC__/layuiadmin/layui/layui.js"></script> 
 <script>
layui.use('form', function(){
  		var $ = layui.$
		,form = layui.form;

		form.on('submit(LAY-user-front-submit)', function(data){
	  	$.submitForm({
		url: "{:U('Evalabel/editEvalabel')}",
		param: $("#commentForm").serialize(),
		success: function () {
			$.currentWindow().Refresh();
		}
	}) 
	return false;  
})
});
</script>

</body>
</html>
