<html><head>
    <meta name="viewport" content="width=device-width">
    <title>Form</title>
    <link rel="stylesheet" href="__JS__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/font-awesome.min.css">
    <link rel="stylesheet" href="__CSS__/index.css">
    <link rel="stylesheet" href="__CSS__/style.min.css">
    <link rel="stylesheet" href="__CSS__/framework-ui.css">
  
<script src="__JS__/jquery/jQuery-2.2.0.min.js"></script>
<script src="__JS__/bootstrap/js/bootstrap.min.js"></script>
<script src="__JS__/validate/jquery.validate.min.js"></script>
<script src="__JS__/layer/layer.js"></script>
<script src="__JS__/framework-ui.js"></script>
<script>
function submitForm() {
  if (!$('#commentForm').formValid()) {
       return false;
  }
  
  $.submitForm({
            url: "{:U('Role/editRole')}",
            param: $("#commentForm").formSerialize(),
            success: function () {
                $.currentWindow().Refresh();
            }
  })

}
</script>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        
        <div class="row">
            <div class="col-sm-12">       
   <form class="form-horizontal" id="commentForm" action="{:U('Role/editRole')}" method="post">
  		 <input type="hidden" name="id" id="id" value="{$result.id}">
      <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tbody>
           
            <tr>
                <th class="formTitle">名称：</th>
                <td class="formValue">
                    <input id="name" name="name" type="text" class="form-control required" placeholder="请输入用户名" value="{$result.name}">
                </td>
            </tr>
            <tr>
                <th class="formTitle">介绍：</th>
                <td class="formValue">
                	<textarea name="remark" id="remark" class="form-control" rows="3">{$result.remark}</textarea>
                </td>
            </tr>
            <tr>
                <th class="formTitle">排序：</th>
                <td class="formValue">
                    <input id="sort" name="sort" type="text" class="form-control required" value="{$result.sort}" placeholder="请输入排序">
                </td>
            </tr>
            
        </tbody></table>
    </div>
 
					</form>

   
            </div>

            
        </div>

    </div>
   


</body>
</html>