<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Index</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="__STATIC__/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__STATIC__/layuiadmin/style/admin.css" media="all">
  <style>
  .layui-form-switch{
  margin-top:0px;
  }
  </style>
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
      		<div class="layui-card">
                      <div class="layui-card-body">
                  
                   
            <form class="layui-form" action="" lay-filter="component-form-group" id="commentForm">
            <div class="layui-card-header" >产品名称：{$shop_product_info.product_name} ￥{$shop_product_info.product_price}   <div style="float:right;"><input type="text" name="number" lay-verify="number" value="1" autocomplete="off" placeholder="请输入数量" class="layui-input"></div>        
</div>
            <div class="layui-card-header">选择提成健康师 <div style="float:right;"><input type="checkbox" name="is_masseur" value="1" lay-skin="switch" lay-text="开|关" lay-filter="product-table-stateDemo"></div>
</div>
               <input type="hidden" name="product_id" value="{$shop_product_info.id}">
               <input type="hidden" name="product_name" value="{$shop_product_info.product_name}">
                <input type="hidden" name="product_price" value="{$shop_product_info.product_price}">
                <table class="layui-table" id="is_show" style="display: none;">
                  <thead>
                    <tr>
                      <th>选择</th>
                      <th>工号</th>
                      <th>性别</th>
                      <th>昵称</th>
                      <th>班次</th>
                      <th>等级</th>
                    </tr> 
                  </thead>
                  <tbody>
                  <volist name="result" id="vo">
                    <tr>
                      <td><input type="radio" name="masseur_id" value="{$vo.masseur_id}" >
</td>
                      <td>{$vo.masseur_sn}</td>
                      <td>{$vo.sex}</td>
                      <td>{$vo.nick_name}</td>
                      <td>
                      <php>
                      if($vo['status']==1)
                      {
                      </php>
                      	<span class="layui-btn">早班</span>
                      <php>
                      }else if($vo['status']==2)
                      {
                      </php>
                      	<span class="layui-btn layui-btn-normal">中班</span>
                       <php>
                      }else if($vo['status']==3)
                      {
                      </php>
                      	<span class="layui-btn layui-btn-warm">晚班</span>
                       <php>
                      }else if($vo['status']==4)
                      {
                      </php>
                      	<span class="layui-btn layui-btn-danger">休假</span>
                       <php>
                      }else if($vo['status']==5)
                      {
                      </php>
                      	<span class="layui-btn layui-btn-disabled">请假</span>
                       <php>
                      }
                      </php>
                      </td>
                      <td>{:masseur_level($vo['masseur_level'])}</td>
                    </tr>
                   </volist>
                  </tbody>
                </table>
                  
           
            
               
          <div class="layui-form-item layui-hide">
      <input type="button" lay-submit lay-filter="LAY-user-front-submit" id="LAY-user-front-submit" value="确认">
    </div>
</form>
            </div>
        </div>
      </div>
      
</div>
</div>
 <script src="__JS__/jquery/jQuery-2.2.0.min.js"></script>
 <script src="__JS__/framework-ui.js"></script>
  <script src="__STATIC__/layuiadmin/layui/layui.js"></script> 
 <script>
 layui.config({
    base: '__STATIC__/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form'], function(){
    var $ = layui.$
    ,form = layui.form
	,table = layui.table
	
	 //监听状态操作
        form.on('switch(product-table-stateDemo)', function(obj){
            
		if(obj.elem.checked==true)
		{
			$('#is_show').show();
		}
		else
		{
			$('#is_show').hide();
		}
	});
});
</script>
</body>
</html>